/* цвет заголовков текста #212121 */
/* цвет текста #757575 */
/* цвет белий #FFFFFF */
/* акцент #2196F3 */
/* цвет адреса rgba(255, 255, 255, 0.6) */

/* вторичный цвет фона #F5F4FA */
/* подвал цвет фона  #F5F4FA */

:root {
    --main-font: "Roboto", sans-serif;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --main-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --time-cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

body {
    font-family: var(--main-font);
    font-style: normal;
    background-color: var(--main-background-color);
    color: var(--primary-text-color);
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.container {
    width: 1200px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid tomato; */
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #000000;
}

.accent {
    color: var(--accent-color);
}

.auth-nav {
    font-style: normal;
} 



/* header */
.main-nav {
    display: flex;
    align-items: center;
}

.navigat {
    display: flex;
    align-items: center;
}

.sate-nav,
.auth-nav {
    display: flex;
    padding: 0;
    margin: 0;
}

.sate-nav {
    margin-left: 93px;
}

.auth-nav {
    margin-left: auto;
}

.sate-nav .sate-nav-item + .sate-nav-item {
    margin-left: 40px;
}

.sate-nav-link {
    position: relative;
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color var(--time-cubic-bezier);
}

.sate-nav-link:hover,
.sate-nav-link:focus,  
.nav:hover,
.nav:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.current::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background: #2196F3;
    border-radius: 2px;
}

.auth-nav .auth-nav-item + .auth-nav-item {
    margin-left: 40px;
}

.nav {
    display: flex;
    align-items: center;
    /* display: inline-block;  */
    padding-top: 21px;
    padding-bottom: 21px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    align-items: center;
    transition: color var(--time-cubic-bezier);
}


.auth-nav-svg {
    margin-right: 10px;
    width: 16px;
    height: 14px;
    fill: #757575;
}

.nav:hover .auth-nav-svg,
.nav:focus .auth-nav-svg {
    fill: var(--accent-color);
}

/* Hero */
.hero {
    text-align: center;
    background-color: #2F303A;
    max-width: 1600px;
    height: 600px;
    margin: auto;
    top: 80px;
    background-image: linear-gradient( 
        to right, rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)), 
        url(../images/hero-Img..jpg);
    background-position: center;

}

.hero-title {
    padding-top: 200px;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364; 
    /* text-align: center; */       
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button {
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: #2196F3;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
}

/* Feature */

.feature-list,
.feature-list-title,
.feature-list-text {
    margin: 0;
    padding: 0;
    display: flex;
}

.feature-list .feature-list-item + .feature-list-item {
    margin-left: 30px;
}

.feature-list-item {
    width: 270px;
}

.feature-list-box {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

/* .feature-list-svg {
    width: 70px;
    height: 70px;
} */

/* .feature-list-item::before{
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
}

.icon-antena::before{
    background-image: url(../images/antenna\ 1\ \(1\).svg);
}

.icon-clock::before{
    background-image: url(../images/clock\ 1\ \(1\).svg);
}

.icon-diagram::before{
    background-image: url(../images/diagram\ 1\ \(1\).svg);
}

.icon-astronaut::before{
    background-image: url(../images/astronaut\ 1\ \(1\).svg);
} */

.feature-list-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.feature-list-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

/* Work */ 
.section.no-padding {
    padding-top: 0;
}

.work-title {
    margin-top: 0;
    margin-bottom: 50px;
}

.work-list {
    margin: 0;
    padding: 0;
    display: flex;
}

.work-list .work-list-item + .work-list-item {
    margin-left: 30px;
}

.work-list-item {
    position: relative; 
}

.work-list-img {
    display: block;
}

.work-list-actions {
    position: absolute;
    width: 370px;
    height: 70px;
    left: 0;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
}

.work-list-text {
    margin-top: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.work-title,
.team-title,
.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* Team */
.team {
    background-color: var(--secondary-background-color);
}

.team-title {
    margin-top: 0;
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.team-list .team-list-item + .team-list-item {
    margin-left: 30px;
}

.team-list-content {
    padding: 30px 50px;
}

.team-list-item {
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list-title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-list-text {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
}

.social-list {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--time-cubic-bezier);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--accent-color);
}

.social-list-link:hover .social-list-svg,
.social-list-link:focus .social-list-svg {
    fill: var(--main-background-color);

}

.social-list-svg {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    transition: fill var(--time-cubic-bezier);
}

/* Regular customers */
.customers-title {
    margin-top: 0;
}

.customers-list {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.customers-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border-radius: 5%;
    outline: 1px solid #AFB1B8;
    transition: outline var(--time-cubic-bezier);
}

.customers-list-link:hover,
.customers-list-link:focus {
    outline: 1px solid #2196F3;
}

.customers-list-link:hover .customers-list-svg,
.customers-list-link:focus .customers-list-svg {
    fill: var(--accent-color);
}

.customers-list-svg {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
    transition: fill var(--time-cubic-bezier);
}

/* Address */
.footer {
    background-color: #2F303A;
}

.container.top-padding {
    padding-top: 60px;
    padding-bottom: 75px;
    display: flex;
}

.address {
    width: 231px;
    height: 81px;
}

.address-list-website:hover,
.address-list-link:hover,
.address-list-website:focus,
.address-list-link:focus {
    color: var(--accent-color);
}

.address-list { 
    margin: 0;
    padding: 0;
}

.address-list .address-list-item + .address-list-item {
    margin-top: 9px;
}

.address-list-website {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: color var(--time-cubic-bezier);
}

.address-list-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    transition: color var(--time-cubic-bezier);
}

.footer .logo {
    color: #FFFFFF;
    margin-bottom: 20PX;
    display: inline-block;
}

.footer-title {
    margin-bottom: 20px;
    margin-top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.social{
    margin-top: 12px;
    margin-left: 70px;
    display: block;
    width: 206px;
    height: 80px;

}   

.social-list {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color var(--time-cubic-bezier);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
}

.social-svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}

.subscription {
    margin-left: 93px;
}

.subscription-title {
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.subscription-form {
    display: flex;
    align-items: center;
    width: 570px;
    height: 50px;
}

.subscription-form-input {
    padding: 15px;
    height: 50px;
    width: 354px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color:  #2F303A;
}

.subscription-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: #2196F3;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

.subscription-form-button-svg {

    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-size: contain;
}

/* portfolio */

.portfolio-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 46px;
    margin-top: 0;
}

.portfolio-filter .portfolio-filter-nav + .portfolio-filter-nav {
    margin-left: 8px;
}

.portfolio-filter-button {
    border-radius: 4px;
    padding: 6px 22px;
    border: var(--secondary-background-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
    cursor: pointer;
    transition: color var(--time-cubic-bezier), background-color var(--time-cubic-bezier), box-shadow var(--time-cubic-bezier);
}

.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    /* font-size: 0; */
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.portfolio-list-item {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    width: 370px;  
    cursor: pointer;
    transition: box-shadow var(--time-cubic-bezier);        
}

.portfolio-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.portfolio-list-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-item:hover .portfolio-list-overlay {
    /* opacity: 1; */
    transform: translateY(0);
}

.portfolio-list-actions {
    position: relative;
    overflow: hidden;
}

.portfolio-list-img {
    display: block;
    width: 100%;
}

.portfolio-list-title {
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-list-text {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.portfolio-list-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    /* opacity: 0; */
    transform: translateY(100%);
    transition: transform var(--time-cubic-bezier)
}

.portfolio-list-overlay-text {
    margin-top: 63px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

/* Overlay */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2); 
    opacity: 1;
    transition: opacity var(--time-cubic-bezier);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;   
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--time-cubic-bezier);

}

.modal-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    background: #FFFFFF; 
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.button-svg {
    width: 18px;
    height: 18px;
    fill: #000000;
    transition: fill var(--time-cubic-bezier);
}

.modal-button:hover .button-svg,
.modal-button:focus .button-svg {
    fill: var(--accent-color)
}

.modal-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.modal-form { 
    display: block;
    margin-bottom: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal-form-wrapper {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 4px;
    padding-left: 42px;
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: fill var(--time-cubic-bezier);
}

.modal-form-input-svg {
    position: absolute ;
    left: 0;
    right: 0;
    margin-top: 14px;
    margin-left: 15px;
    transition: fill var(--time-cubic-bezier);
}

.modal-form-input:focus,
.modal-form-textarea:focus {
    outline: none;
    outline: 1px solid #2196F3;
}

.modal-form-input:focus + .modal-form-input-svg {
    fill: #2196F3;
}

.modal-form-textarea:focus::placeholder {
    color:  #2196F3;
}

.modal-form-textarea {
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    margin-top: 4px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: fill var(--time-cubic-bezier);
}

.modal-form-agreement {
    margin-bottom: 30px;
    width: 16px;
    height: 15px;
    background: #212121;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.modal-form-agreement label {
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.modal-form-check {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.modal-form-check::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 7px;
    margin-left: 18px;
    border: 2px solid #000000;
    border-radius: 2px;
    background: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-form-agreement:checked + .modal-form-check::before {
    border: 1px solid #2196F3;
    background-color: #2196F3;
    background-image: url(../images/vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.modal-form-button {
    position: absolute;
    margin-top: 32px;
    width: 200px;
    height: 50px;  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    border: #2196F3;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}